body{
  background-image: url(bg2.jpg);
  background-size: cover;
}
#header{
  font-family: 'Cookie', cursive;
  font-size: 45px;
}
#google{
  height: 30px;
}
#mobile{
  height: 30px;
}
#gog{
  float: right;
  margin-right: 20px;
}
.text{
  font-size: large;
}
#pos{
  margin-left: 100px;
 background-color:  rgb(255, 255, 255);
 width: 70%;
 height: 450px;
 border-radius: 10px;
}

#img1{
  border-radius: 10px;
}
#google-out{
  margin-top: -350px;
  width: 350px;
  text-align: left;
  border: none;
}

#oo{
  border-top: 1px solid rgb(80, 80, 80);
  margin-top: -330;
}

#resu{
  margin-left: 630px;
  margin-top: -10;
}

#img2{
  height: 390px;
}
#img3{
  height: 390px;
  width: 190px;
}

#result{
  margin-left: 610;
}

#resul{
  margin-left: 620;

}

#resultt{
  margin-left: 500;
}